.pagetitle {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.pagesubtitle {
    margin-bottom: 30px;
}

body {
    padding: 10px;
    font-family: sans-serif;
}

.addimagesform {
    margin-top: 25px;
    margin-bottom: 50px;
}

.category {
    margin-bottom: 5px;
}

.border {
    padding: 20px;
}